
<head>
	<title> What are Hypercasual Games? </title>
	<link type="text/css" rel="stylesheet" href="/style.css"/>
	<meta charset="utf-8"/>
</head>

<body>
	<div class = "titlebox" >
		<h1> 하이퍼캐주얼 게임이란? </h1>
	</div>	
	
	<div class="contents">	
		<div class="contentbox-single">
			<p>하이퍼캐주얼은 이름 그대로 매우<em>(Hyper)</em> 가벼운 <em>(Casual)</em> 게임들을 아우르는 장르입니다. 하이퍼캐주얼 장르는 스마트폰 시대를 거슬러 핸드폰, 혹은 흔히 말하는 피쳐폰 시절까지 올라갑니다. 그 당시의 핸드폰은 지금처럼 강력한 연산능력이나 그래픽 성능을 가지지 못했기 때문에 지금보다 구현할 수 있는 멀티미디어 컨텐츠의 수준도 심플했습니다. 그래서 당시의 게임들은 리소스의 제약이 많았고, 따라서 매우 단순한 게임들이 많았습니다. 마치 퐁<em>(Pong)</em> 같은 컴퓨터 게임 역사의 초기 게임들처럼 말이죠.
			</p>
		</div>
		
		<div class = "dual-container">
			<div class="contentbox-dual-mono">
				<img class = "bigImg" src="https://noyouare.lixlink.com/wp-content/uploads/2013/01/Pong-game.jpg" style="height:250px;width:auto;" />
				
				<p align = "center"> <em> 초창기 컴퓨터 게임 "Pong" </em>
				</p>
			
			</div>
			
			<div class="contentbox-dual-mono">
				<img class = "bigImg" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FqPiaPKNelc0%2Fmaxresdefault.jpg&f=1&nofb=1";  style="height:250px;width:auto;" />
			
				<p align = "center"> <em>인기 모바일 게임 "Helix Jump" </em>
				</p>
				
			</div>
		
		</div>		
		
		<div class = "contentbox-single">
			<p>그래픽이 단순하고 매커니즘이 심플해도 게임의 재미가 바래지는 않습니다. 오히려 외향과 복잡성을 벗어나 가장 본질적인 재미요소를 제공한다는 점에서는 가장 있는 그대로의 게임을 대표한다고도 할 수 있겠죠. 그리하여 기기 성능이 좋아진 현재 스마트폰 시대에 와서도 하이퍼캐주얼 게임은 꾸준히, 그리고 많이 만들어지고 소비되고 있습니다. 
			</p>
		</div>
	</div>

	<div class="endbox">	
		
		
		<p> <%= link_to "처음으로", main_index_path %>  </p>
	</div>
</body>

